QMainWindow {
    background-color: '#404040';
}

QWidget {
    background-color: '#404040';
}

QToolButton {
    border: 0.5px solid '#D1D1D1';
}

QPushButton {
    border: 1px solid #8f8f91;
    color : '#e0e0e0';
    border-radius: 5px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #404040, stop: 1 #606060);
    min-width: 80px;
}

QPushButton:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #606060, stop: 1 #808080);
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}

QPushButton:default {
    border-color: navy; /* make the default button prominent */
}

QLabel {
    color : '#FFFFFF';
}

QSlider {
    border-style:outset;
}

QSlider::groove:horizontal {
    height: 4px;
    background-color: #494949;
    background : #494949;
    margin: 1px 0
}

QSlider::sub-page:horizontal {
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,stop: 0 #808080, stop: 1 #313131);
    background: qlineargradient(x1: 0, y1: 0.2,  x2: 1, y2: 1, stop: 0 #808080, stop: 1 #494949);
    border: 0px solid #777;
    height: 4px;
    border-radius: 2px;
}

QSlider::add-page:horizontal {
    background: #494949;
    border: 0px solid #777;
    height: 4px;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.7, fx:0.3, fy:0.3, stop:0 '#A0A0A0', stop:1 '#707070');
    width: 16px;
    height: 16px;
    margin: -6px 0px -6px 0px;
    border-radius:8px;
    border: none;
}

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #fff, stop:1 #ddd);
    border: 0px solid #444;
    border-radius: 4px;
}

QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QStatusBar::item {
    color : '#FFFFFF';
}

QStatusBar QLabel {
    color : '#FFFFFF';
}
